* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container {
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container #b1 {
    background-color: gold;
    height: 50px;
    width: 90%;
    margin-bottom: 5px;
}

.container #b2 {
    background-color:darkturquoise;
    height: 100px;
    width: 44.5%;
    margin-right: 0.5%;
}

.container #b3 {
    background-color: palegreen;
    height: 100px;
    width: 44.5%;
    margin-left: 0.5%;
}

.container #b4 {
    margin-top: 5px;
    background-color: fuchsia;
    height: 50px;
    width: 90%;
    margin-bottom: 5px;
}

.container #b5 {
    background-color: navy;
    height: 100px;
    width: 29.6%;
    margin-right: 0.6%;
}

.container #b6 {
    background-color: slateblue;
    height: 100px;
    width: 29.6%;
}

.container #b7 {
    background-color: lightcoral;
    height: 100px;
    width: 29.6%;
    margin-left: 0.6%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .container #b1 {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .container #b2 {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .container #b3 {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .container #b4 {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .container #b5 {
        width: 100%;
        margin-bottom: 5px;
    }

    .container #b6 {
        width: 100%;
        margin-bottom: 5px;
    }

    .container #b7 {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
    }
}